
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
    font-family: 'Roboto'; sans-serif;
}

.brain-forge-post {
    max-width: 640px;
    max-height: 800px;
    background: #FFFFFF;
    border-radius: 12px;
}

header {
    padding: 20px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: flex-start; 
}

#logo {
    border-radius: 50%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 11px;
}

.title-wrapper {
    font-weight: 600;
    color: #1E40AF;
    font-size: 15px;
}

.subtitle-wrapper {
    color: #65676B;
    font-weight: 400;
    font-size: 13px;
}

.dots-wrapper {
    padding-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.content-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #050505;
    padding-top:13px;
    
}

.content-tags {
    font-weight: 400;
    font-size: 15px;
    line-height: 135.69%;
    letter-spacing: 0.005em;
    color: #395996;
}

a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.005em;
    color: #395996;
}

.bottom-wrapper {
    background: #F2F3F5;
    border: 3px solid rgba(0, 0, 0, 0.15);
    margin-top:-4px;
    display: flex;
    padding: 17px 20px;
    justify-content: space-between;
    align-items: center;
}

.info-bottom-wrapper {
    display: flex;
    flex-direction: column;
}

.title-bottom {
    height: 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 135.69%;
    color: #606770;
}

.subtitle-bottom {
    font-weight: 500;
    font-size: 17px;
    line-height: 135.69%;
    letter-spacing: 0.005em;
    color: #1D2129;
}

#post-image {
    max-width: 100%;
}
.button {
    padding: 6px 32px 9px 26px;
    background: #EFF1F3;
    border: 2px solid #BEC3C9; 
    border-radius: 5px;
}

.button:hover {
    background-color: #DEDEDE;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 28px 20px;
}

.actions-icons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;

}

.actions-text {
    padding: 15px;
}

.actions-icons:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}