
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
    font-family: 'Roboto'; sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 135.69%;
    letter-spacing: 0.005em;
    color: #395996;
    margin-bottom:11px;
}

.p1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #050505;
    width: 600px;
    height: 72px;
    margin-top:13px;
    
}

.p2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 135.69%;
    letter-spacing: 0.005em;
    color: #395996;
    margin-top:10px;
    margin-bottom: 8px;
}
.container {
    position: relative;
    width: 640px;
    height: 800px;
    background: #FFFFFF;
    border-radius: 12px;
}

header {
    padding: 20px 20px;
}

.leading {
    display: flex;
}

#avatar {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 11px;
}

.post-title {
    font-weight: 600;
    color: #1E40AF;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
}

.post-info {
    color: #65676B;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.under {
    background: #F2F3F5;
    border: 3px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    height: 76px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:-4px;
     /* dodanie -4px, aby under przykleił sie do zdjecia  */
    display: flex;
    
}

.under-title {
    height: 18px;
    margin-left: 20px;
    margin-right: 463px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 135.69%;
    display: flex;
    align-items: center;
    color: #606770;
}

.under-info {
    margin-left: 20px;
    margin-right: 262px;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 17px;
    line-height: 135.69%;
    letter-spacing: 0.005em;
    color: #1D2129;
}

.button {
    width: 142px;
    height: 36px;
    background: #EFF1F3;
    border: 2px solid #BEC3C9;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.button: hover {
    background: #DEDEDE;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 84px;
    margin-top: 20px;
    margin-bottom: 34px;
}
.dots {
    width: 30px;
    height: 6.67px;
    margin-top: 43px;
    margin-right: 20px;

}
